#root {
    width: 100vw;
    height: 100vh;
    background-color: transparentize($black, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $helvetica; 
    font-weight: 100;
    

    .calculator{
        background-color: $eerie-black;
        height: 60vh;
        width: 20vw;
        border-radius: 15px;
        padding: 2vh 1vw 1vh 1vw;
        border: solid 2px white;

        .calculator-screen{
            color: $white;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 20%;
            border: solid 2px white;
            font-size: 50px;
        }

        .calculator-board{
            display: flex;
            height: 80%;

            .operators-section {
                width: 25%;
                border: solid green 2px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }

            .non-operators-section {
                width: 75%;
                border: solid blue 2px;

            }
        }
    }
}

button {
    border-radius: 50%;
    height: 15%;
    width: 80%;
    font-size: 30px;
    font-weight: 400;
    font-family: $helvetica; 
    align-self: center;
}
