html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

#root {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica";
  font-weight: 100; }
  #root .calculator {
    background-color: #1C1C1C;
    height: 60vh;
    width: 20vw;
    border-radius: 15px;
    padding: 2vh 1vw 1vh 1vw;
    border: solid 2px white; }
    #root .calculator .calculator-screen {
      color: white;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 20%;
      border: solid 2px white;
      font-size: 50px; }
    #root .calculator .calculator-board {
      display: flex;
      height: 80%; }
      #root .calculator .calculator-board .operators-section {
        width: 25%;
        border: solid green 2px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; }
      #root .calculator .calculator-board .non-operators-section {
        width: 75%;
        border: solid blue 2px; }

button {
  border-radius: 50%;
  height: 15%;
  width: 80%;
  font-size: 30px;
  font-weight: 400;
  font-family: "Helvetica";
  align-self: center;
  outline: none;
  cursor: pointer;
  border: none; }

.colorize-operators-section {
  background-color: #FF9500;
  color: white;
  font-weight: thin; }
