html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

#root {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica";
  font-weight: 100; }
  #root .calculator {
    background-color: #1C1C1C;
    height: 60vh;
    width: 20vw;
    border-radius: 15px;
    padding: 2vh 1vw 1vh 1vw; }
    #root .calculator .calculator-screen {
      color: white;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 20%;
      font-size: 50px; }
    #root .calculator .calculator-board {
      display: flex;
      height: 80%; }
      #root .calculator .calculator-board .operators-section {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
      #root .calculator .calculator-board .non-operators-section {
        width: 75%;
        display: flex;
        flex-direction: column; }
        #root .calculator .calculator-board .non-operators-section .custom-operators {
          height: 20%;
          display: flex;
          justify-content: space-evenly; }
          #root .calculator .calculator-board .non-operators-section .custom-operators button {
            background-color: #D4D4D2;
            color: black; }
          #root .calculator .calculator-board .non-operators-section .custom-operators button:active {
            background-color: white; }
        #root .calculator .calculator-board .non-operators-section .one-to-nine-numbers {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: space-around; }
          #root .calculator .calculator-board .non-operators-section .one-to-nine-numbers button {
            background-color: #505050; }
          #root .calculator .calculator-board .non-operators-section .one-to-nine-numbers button:active {
            background-color: #D4D4D2; }
        #root .calculator .calculator-board .non-operators-section .one-to-nine-numbers {
          height: 60%; }
        #root .calculator .calculator-board .non-operators-section .outliers {
          height: 20%;
          display: flex;
          justify-content: space-around; }
          #root .calculator .calculator-board .non-operators-section .outliers button:active {
            background-color: #D4D4D2; }
          #root .calculator .calculator-board .non-operators-section .outliers #outlier-zero {
            width: 9vw;
            border-radius: 30px; }

button {
  border-radius: 50%;
  width: 4.5vw;
  height: 7.5vh;
  font-size: 30px;
  font-weight: 400;
  font-family: "Helvetica";
  background-color: #505050;
  color: white;
  align-self: center;
  outline: none;
  cursor: pointer;
  border: none;
  color: white; }

.colorize-operators {
  background-color: #FF9500;
  color: white;
  font-weight: thin; }

#switch-colors {
  background-color: white;
  color: #FF9500;
  transition: background-color .4s ease-out, color .4s ease-out; }
